body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(../asset/img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.score {
    z-index: 999;
    right: 0;
    top: 0;
}

.nomor {
    z-index: 999;
    height: 50px;
    width: 50px;
    top: 30%;
    left: 50%;
    margin-left: -25px;
}

.soal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(0 0 0 / .7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 0;
}

.soal .container {
    width: 90%;
}

.hasil {
    z-index: 999;
    background-color: rgb(0 0 0 / .7);
    backdrop-filter: blur(10px);
}

.clicked,
.hover {
    background-color: white !important;
    color: rgb(20, 114, 151) !important;
    transform: scale(1.05);
    transition: .3s;
}

button[type=submit]:hover {
    background-color: white !important;
    color: rgb(20, 114, 151) !important;
    transform: scale(1.05);
    transition: .3s;
}

@media (min-width: 767px) {
    .soal .container {
        width: 600px;
    }
}

@media (max-height:770px) {
    .nomor {
        top: 20%;
    }
}

@media (max-height:492px) {
    .nomor {
        top: 10%;
    }
}